## NASA Mars News

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
#opens chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#links chrome driver and the website you want to scape data
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
#find news Title and Paragraph text 

    
html = browser.html
soup = BeautifulSoup(html, 'html.parser')  
slide_el = soup.select_one("ul.item_list li.slide")

#find and print title
news_title = slide_el.find("div", class_="content_title").get_text()
print(news_title)

#find and print body
news_p=slide_el.find("div", class_="article_teaser_body").get_text()
print (news_p)

Sensors on Mars 2020 Spacecraft Answer Long-Distance Call From Earth
Instruments tailored to collect data during the descent of NASA's next rover through the Red Planet's atmosphere have been checked in flight.

## JPL Mars Space Images - Featured Image

In [5]:
from splinter import Browser
from bs4 import BeautifulSoup

In [6]:
#opens chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [7]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [8]:
#find the image background url

html = browser.html
soup = BeautifulSoup(html, 'html.parser')  

#first click Full-image to go to full image page

browser.links.find_by_partial_text('FULL').click()

#now we are in full image link, find the URL Image

imgs =  browser.find_by_tag('img')
print(imgs[-2]._element.get_attribute('src'))

https://www.jpl.nasa.gov/assets/images/overlay-arrow.png

## Mars Facts

In [10]:
import pandas as pd

In [11]:
url = ('https://space-facts.com/mars/')

In [12]:
#read the tables
mars_tables = pd.read_html(url, header=None)

In [13]:
#print it out
mars_tables[2]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
#create a list 

df= mars_tables [2]
df.rows = ['Equatorial Diameter', 'Polar Diameter', 'Mass', 'Moons',
                'Orbit Distance', 'Orbit Period', 'Surface Temperature', 
                'First Record', 'Recorded By']
df

C:\Users\Anna Schaefer\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
#convert table to html

html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
#clean up code

html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [17]:
#create table html

df.to_html('table.html')

## Mars Hemispheres

In [18]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests

In [19]:
#opens chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [20]:
#go to website
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [21]:
#create an empty list to store our dictionaries
hemishpheres_list = []

#find list of a-tags that contain product-item
#itterate through the list
for i in range(len(browser.find_by_css("a.product-item h3"))):
    #create a dictionary 
    hemishpheres = {}
    
    #title
    title = browser.find_by_css("a.product-item h3")[i].text
    hemishpheres["title"]= title
    
    #click through browser to get image
    browser.find_by_css("a.product-item h3")[i].click()  
    
    #find the url for image
    url = browser.find_by_text('Sample')._element.get_attribute('href')
    
    #append that url into the dictionary
    hemishpheres["url"]= url
    
    #go back to find the other hemisphere lists
    browser.back()
    
    #append dictionary to a list 
    hemishpheres_list.append(hemishpheres)

In [22]:
hemishpheres_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]